h1 {
    color: rgb(82, 180, 159);
    background-color: rgb(119, 49, 199);
    text-align: center;
}
.subtitulo {
    color: rgb(155, 42, 47);
    background-color: rgb(34, 160, 177);
    text-align: center;
}