.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
}
header {
    grid-area: header;
    background-color: rgb(48, 149, 189);
    padding: 10px;
}
aside {
    grid-area: aside;
    background-color: rgb(163, 255, 16);
    padding: 10px;
}
main {
    grid-area: main;
    background-color: rgb(250, 225, 86);
    padding: 10px;
}
footer {
    grid-area: footer;
    background-color: rgba(21, 112, 29, 0.623);
    padding: 10px;
}

.layout > * {
    border: 2px solid rgb(76, 160, 55);
    text-align: center;
    font-size: 1.5m;
    box-shadow: 2px 2px 5px rgba(93, 146, 155, 0.5);
    padding: 20 px;
}